/* global describe, it, before */

import { expect, assert } from 'chai';

describe('true or false', () => {
  it('true is true', () => {
      assert.equal(true, true)
    // expect(true).to.eql(true);
  });

  it('false is false', () => {
    expect(false).to.eql(false);
  });
});